<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
</head>

<body>
    <!-- iterate over the value of an array use for of loop -->
    <!-- iterate over the key or indexes of an array use for in loop -->
    <!-- calls a callback function for each element in the array use forEach -->

</body>

</html>